@font-face {
  font-family: 'Open Sans Regular';
  src: url('../../assets/fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans SemiBold';
  src: url('../../assets/fonts/OpenSans-SemiBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../../assets/fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}

$main-blue: #2196f3;
$bg-color: #f3f7fa;
$text-black: #4a4a4a;
$text-gray: #a0b0b9;
$checkbox-border: #9abbce;

*,
html,
body,
ul,
ol {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 700;
  color: $text-black;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 13px;
  *::after,
  *::before {
    box-sizing: inherit;
  }
}

body {
  background-color: $bg-color;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  .app-wrapper {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    .app-logo {
      width: 100%;
      height: 80px;
      justify-content: center;
    }
  }
}

.app-main {
  margin-top: 50px;
  display: flex;
  @media (max-width: 767px) {
    flex-direction: column;
    width: 100%;
  }
  .app-results {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    @media (max-width: 767px) {
      margin: 20px 0;
    }
  }
}
